.nav {
  height: 75px;
}
.container {
  width: 1050px;
}

.left_nav {
  display: flex;
  align-items: center;
}
.right_nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgba(160, 133, 91, 1);
}

/* .right_nav *:not(:last-child) {
  margin-right: 10px;
} */
