/* Use for marketsearchbox only */

.searchbox {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);;
}

.searchbox_input {
    border: 0;
    width: 90%;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    color: #333;
    background: none;
}