/* Use for marketsearchbox only */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.searchlist {
    border: 2px solid #092F88;
    color: #092F88;
    justify-items: auto;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.searchlist::-webkit-scrollbar {
    width: 0.5em;
}

.searchlist::-webkit-scrollbar-thumb {
    background-color: #092F88;
}

.searchbox {
    display: flex;
    font-size: 16px;
    flex: auto;
}

.cart_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #092F88;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
}

.cart_logo_icon {
    font-size: 30px;
}

.textbox_container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.textbox_input {
    border: 0;
    width: 100%;
    outline: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: none;
    line-height: normal;
    border-bottom: 1px solid #092F88;
}

.textbox_input::placeholder {
    color: #000;
    opacity: 0.22;
}

.loading_spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.spinner_icon {
    font-size: 30px;
    color: #092F88;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search_result_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #092F88;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.search_result_item:hover {
    background: #092F88;
    color: #fff;
    border-radius: 15px;
}

.search_result_item_title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
}

.search_result_item_image {
    height: 10vh;
    border-radius: 15%;
    margin-right: 10px;
}

.search_results {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-top: 10px;
}

.search_results.show {
    max-height: 500px;
}