@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f6fb;
  font-weight: 600;
}

.contact_container {
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.contact_head {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.box_container {
  display: flex;
  justify-content: center;
}

.contact_box {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 87%;
  max-width: 1300px;
  height: 420px;
}

.left_half,
.right_half {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

.feedback_container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.separator-line {
  border-right: 3px solid #d7d7d7;
  height: 90%;
  margin: auto;
  border-radius: 20px;
}

/* Add these styles to your existing CSS or style.css file */

.type_selection {
  display: flex;
  flex-direction: column;
}

.type_selection .top,
.type_selection .bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

.checkbox-label span {
  margin-left: 5px;
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #292c7b;
  border-color: #292c7b;
}

.type_selection .checkbox-label {
  flex: 1;
}

.type_selection input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

.type_selection input[type="checkbox"]:checked {
  background-color: #292c7b;
  border-color: #292c7b;
}

textarea {
  width: calc(100% - 24px);
  max-width: calc(100% - 24px);
  height: 150px;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #1f2021;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
}

button {
  background-color: #1f2021;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  align-self: flex-end;
  transition: background-color 0.3s ease-in-out; /* Added transition property */
}

button:hover {
  background-color: #292c7b;
  animation: jiggle 0.5s ease-in-out infinite;
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 80% {
    transform: translateX(-2px);
  }
  40%, 60% {
    transform: translateX(2px);
  }
}

.history_container {
  text-align: center;
  overflow: hidden;
}

.history_table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

.history_table th{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #888888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history_table td {
  text-align: center;
  border-bottom: 1px solid #888888;
  padding: 8px;
}


.history_table th:first-child, .history_table td:first-child {
  width: 15%; /* Adjust the width as needed */
}

.history_table th:nth-child(2), .history_table td:nth-child(2) {
  width: 55%; /* Adjust the width as needed */
  max-width: 55%;
}

.history_table th:nth-child(3), .history_table td:nth-child(3) {
  /* You can adjust the width or remove it if you want it to auto-size */
  width: 15%; 
}

.history_table th:nth-child(4), .history_table td:nth-child(4) {
  /* You can adjust the width or remove it if you want it to auto-size */
  width: 15%; 
}

.history_table tr {
  display: flex;
}

.history_scrollable {
  max-height: 300px;
  overflow-x: auto;
}

.history_table thead {
  position: sticky;
  top: 0;
  background-color: #d9d9d9;
  z-index: 1;
}

.history_table tbody {
  display: block;
}

.feedback-success {
  animation: flash 1s ease-in-out;
}

@keyframes flash {
  0%, 100% {
    background-color: inherit;
  }
  50% {
    background-color: #b1ffb4;
  }
}

/* Add these styles to your existing CSS or style.css file */

.loading-icon {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
