/* Import Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Apply Poppins font to all elements */
* {
  font-family: "Poppins", sans-serif;
}

/* Styling for the body element */
body {
  background: #f6f6fb;
  font-weight: 600;
}

/* Styling for the main contact container */
.contact_container {
  flex-direction: column;
  align-items: center;
  padding-top: 5.5rem;
}

/* Styling for the contact head */
.contact_head {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 3rem;
}

/* Styling for the main box container */
.box_container {
  display: flex;
  justify-content: center;
  padding-bottom: 20vh;
}

/* Styling for the contact box */
.contact_box {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 87%;
  max-width: 1300px;
  height: 420px;
}

/* Styling for the left and right halves of the contact box */
.left_half,
.right_half {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

/* Styling for the feedback container */
.feedback_container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Styling for the separator line between left and right halves */
.separator-line {
  border-right: 3px solid #d7d7d7;
  height: 90%;
  margin: auto;
  border-radius: 20px;
}

/* Styling for the type selection container */
.type_selection {
  display: flex;
  flex-direction: column;
}

/* Styling for the top and bottom sections of type selection */
.type_selection .top,
.type_selection .bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Styling for the checkbox label container */
.checkbox-label {
  display: flex;
  align-items: center;
}

/* Styling for the checkbox input */
.checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

/* Styling for the checkbox label text */
.checkbox-label span {
  margin-left: 5px;
}

/* Styling for the checked state of the checkbox */
.checkbox-label input[type="checkbox"]:checked {
  background-color: #292c7b;
  border-color: #292c7b;
}

/* Styling for the checkbox label within type selection */
.type_selection .checkbox-label {
  flex: 1;
}

/* Styling for the checkbox input within type selection */
.type_selection input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

/* Styling for the checked state of the checkbox within type selection */
.type_selection input[type="checkbox"]:checked {
  background-color: #292c7b;
  border-color: #292c7b;
}

/* Styling for the textarea input */
textarea {
  width: calc(100% - 24px);
  max-width: calc(100% - 24px);
  height: 150px;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #1f2021;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
}

/* Styling for the special button */
.special-button {
  background-color: #1f2021;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  align-self: flex-end;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover styling for the special button */
.special-button:hover {
  background-color: #292c7b;
  animation: pulse 1s ease-in-out infinite;
}

/* Keyframes for the pulse animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Styling for the history container */
.history_container {
  text-align: center;
  overflow: hidden;
}

/* Styling for the history table */
.history_table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

/* Styling for the table header cells */
.history_table th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #888888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styling for the table data cells */
.history_table td {
  text-align: center;
  border-bottom: 1px solid #888888;
  padding: 8px;
}

/* Styling for the first column of the table */
.history_table th:first-child,
.history_table td:first-child {
  width: 15%;
}

/* Styling for the second column of the table */
.history_table th:nth-child(2),
.history_table td:nth-child(2) {
  width: 55%;
  max-width: 55%;
}

/* Styling for the third column of the table */
.history_table th:nth-child(3),
.history_table td:nth-child(3) {
  width: 15%;
}

/* Styling for the fourth column of the table */
.history_table th:nth-child(4),
.history_table td:nth-child(4) {
  width: 15%;
}

/* Styling for the table rows */
.history_table tr {
  display: flex;
}

/* Styling for the scrollable history section */
.history_scrollable {
  max-height: 300px;
  overflow-x: auto;
}

/* Styling for the sticky table header */
.history_table thead {
  position: sticky;
  top: 0;
  background-color: #d9d9d9;
}

/* Styling for the table body */
.history_table tbody {
  display: block;
}

/* Styling for the feedback success animation */
.feedback-success {
  animation: flash 1.4s ease-in-out;
}

/* Styling for the unsend success animation */
.unsend-success {
  animation: flashuuu 1.4s ease-in-out;
}

/* Keyframes for the flash animation */
@keyframes flash {
  0%,
  100% {
    background-color: inherit;
  }
  50% {
    background-color: #b1ffb4;
  }
}

/* Keyframes for the flashuuu animation */
@keyframes flashuuu {
  0%,
  100% {
    background-color: inherit;
  }
  50% {
    background-color: #ffb1b1;
  }
}

/* Loading icon animation */
.loading-icon {
  animation: spin 1s infinite linear;
}

/* Keyframes for the spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin-bottom: 1.5rem;
}