.container {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #F6F6FB;
}

#promotions-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}
    
.promotion-box-scroll {
    width: 60%;
    display: flex;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.promotion-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.carousel-image {
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

img.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-button:focus {
    outline: none;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
}

.prev-button:hover {
    left: 8px;
    scale: 1.1;
}
  
.next-button {
    right: 10px;
}

.next-button:hover {
    right: 8px;
    scale: 1.1;
}


#new-box {
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.2rem;
}

#new-box h1 {
    margin-bottom: 0.8rem;
}

.new-arrivals-container {
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    margin-bottom: 1.2rem;
}

.new-arrival-card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    flex: 0 1 calc(25% - 2rem);
    margin: 1rem; 
    display: flex;
    flex-direction: column;
}

a.new-arrival-card:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: fill; 
}

.card-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: poppins, sans-serif;
    color: #333333;
    margin-bottom: 0.5rem;
}

.card-price {
    font-size: 1.1rem;
    font-family: poppins, sans-serif;
    color: #333333;
    margin-bottom: 0.5rem;
}

#rec-box{
    background-color: #F6F6FB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 7rem;
}

#rec-box h1 {
    margin-bottom: 0.8rem;
}

.title-with-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 0.2rem;
}
.rec-box-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem; 
    padding: 0.5rem; 
}

.rec-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.rec-item:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
  
.rec-item img {
    width: 300px;
    height: 200px; 
    object-fit: cover;
}
  
.rec-item-name {
    font-size: 1.2rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}
  
.rec-item-price {
    font-size: 1rem;
    font-family: poppins, sans-serif;
    color: #333;
    margin-bottom: 1rem;
}

.refresh-button {
    margin-top: 10px;
    width: 5%;
    color: black; 
    background-color: #F6F6FB;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: poppins, sans-serif;  
}

.refresh-button:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
    color : rgb(40, 37, 37);
    
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, #1E98BA);
}


  