.container {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6FB;
    top: 0;
    position: absolute;
}

.logo {
    width: 84px;
    height: 80px;
    flex-shrink: 0;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 390px;
    height: 540px;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
    margin-top: 4rem;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}

.describ {
    width: 70%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.title img {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
}

.input:focus {
    outline: none;
    border-radius: 1.5px solid deepskyblue;
}

.button {
    width: 250px;
    letter-spacing: 2px;
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #1F2021;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.button:hover {
    background-color: #393a3a;
    transition: 0.5s;
    transform: scale(1.1);
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 4, 4, 0.433);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading {
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    /* Strong text shadow for better readability */
    animation: bounce 1.2s ease-in-out infinite;
}

/* Bouncing text animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }
}

.error-text {
    margin: 1em;
    color: red;
    text-align: center;
    font-size: 1em;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: -0.5em;
    position: absolute;
}