*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* .title h1{
    margin-top: 1rem;
} */


.title p{
    font-weight:500;
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    background: #3D39BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} */

.contact{
    width: 100vw;
    height: 100vh;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #f8f8f8;;
}

.container{
    width: 100vw;
    height: 100%;
}

#call{
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    background-color: #D9C029;
    border: 2px solid #D9C029;
    border-radius: 10px;
}

#mail{
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    background-color: #D9C029;
    border: 2px solid #D9C029;
    border-radius: 10px;
}

#loca-icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    background-color: #D9C029;
    border: 2px solid #D9C029;
    border-radius: 10px;
}


.contact-blog{
    position: relative;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #f8f8f8 ;
    /* box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45); */
    border-radius: 20px;

}

.contact-info{
    position: relative;
    text-align: center;
    background-color: #3D39BD;
    border-radius: 20px;
    padding: 1rem;
    color: #f8f8f8;
}

.data{
    position: relative;
    text-align: left;
    padding: 1rem;
}

.call{
    position: relative;
    display: flex;
    padding: 1rem;
}

.mail{
    position: relative;
    display: flex;
    padding: 1rem;
}

.location{
    position: relative;
    display: flex;
    padding: 1rem;
}

.massage{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1;
    width: 100%;
}
.email__mas{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px;
    border-radius: 10px;
    font-family: 'Hubballi' ;
    font-size: 16px;
    background-color: #D9D9D9;
}

.massage Label{
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    font-size: 18px;
}

.write-massage{
    width: 100%;
    padding: 1rem;
    margin-left: 1rem;
    border: 1px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-family: 'Hubballi' ;
    font-size: 18px;
    font-weight: 100 ;
}

.send-massage{
    width: 150px;
    height: 3rem;
    align-self: left;
    background-color: #D9C029;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

}

.send-massage:hover{
    background-color: #cdaf07;
}


.text-data{
    font-size: 16px;
    font-weight: 600;
}

.title-contact{
    font-family: Galindo;
    font-size: 40px;
    margin-bottom: 0.5rem;
}

.text-data2{
    font-size: 16px;
}

.contact-info-title{
    font-size: 30px;
}

.contact-blog a{
    color: black;
}

.posi__btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}