.search{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eceff1;
    overflow-x: hidden;
}


.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6rem;
    margin: auto;
    min-height: 100%;
    width: 100%;
}
