*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1{
    font-family: 'Galindo';
    font-size: 4rem;
    margin-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}



header{
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    /* padding: 10px;
    padding-left: 50px;
    background: #3D39BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99; */
}


.writting{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px; */
    background-color: #eceff1;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

