@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #f6f6fb;
  max-width: 100vw;
  min-height: 80vh;
}

/* Styles for title */

.titlecontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Set max-width */
  }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #092f88;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}

/* styles for review and rating main section */

.reviewandrating {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/* styles for review card */

.reviews {
  width: 50%;
  overflow: hidden;
}

.summaryreview h3 {
  margin-bottom: 1.0rem;
  font-size: 20px;
}

.summaryreview textarea {
  padding: 0.8rem;
  border-radius: 15px;
}

.detailreview h3 {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  font-size: 20px;
}

.detailreview textarea {
  padding: 0.8rem;
  border-radius: 15px;
}

textarea {
  background-color: #D9D9D9;
}

/* styles for rating card */

.ratings {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startext h3 {
  margin-bottom: 0.8rem;
  font-size: 20px;
}

.stars {
  display: flex;
  justify-content: center;
}

.stars span {
  margin-top: -0.4rem;
  padding-right: 0.3rem;
}

 /* Styles for review and cancel button */

 .reviewButtonContainer {
  display: flex;
  padding-top: 14.8rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;

  justify-content: center;
}

.reviewButton {
  background-color: rgb(0, 0, 154);
  box-shadow: 0px 2px 8.6px 0px rgba(7, 46, 104, 0.36);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease; /* Add transition for background-color */
}

.reviewButton:hover {
  background-color: #3d5eff; /* Darker Green */
}

.cancelButton {
  background-color: rgb(154, 0, 0);
  box-shadow: 0px 2px 8.6px 0px rgba(7, 46, 104, 0.36);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease; /* Add transition for background-color */
  margin-left: 2rem;
}

.cancelButton:hover {
  background-color: #ff3d3d; /* Darker Green */
}

/* Styles for error message */

.alertcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 20vh;
}

.alert {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.error h3 {
  font-size: 18px;
}

.success {
  background-color: #d4d4ed;
  color: #161557;
  border: 1px solid #c3c5e6;
}

.success h3 {
  font-size: 18px;
}

/* Styles for loading */

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinning {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
