.Profile{
    width: 100%;
    height: 100%;
    /* align-items: center;
    justify-content: center; */

}

.User__profile{
    margin-left: 1.5rem;
    overflow: hidden;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: Solid 3px #D9C029;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
}

.menus{
    position: absolute;
    background-color: #e7e5e5;
    display: block;
    margin-top: 0.5rem;
    margin-right: 0.5rem ;
    border-radius: 10px;
    text-align: left;
    width: 125px;
    /* width: max-content; */
    box-shadow:rgba(108, 105, 105, 0.747) ;
}

.menus a{
    /* width: 100%;
    height: 100%;
    color: black;
    padding-bottom: 1rem;
    text-align: start;
    margin-bottom: 1px;
    margin-left: 1px; */
    color: black;
}
.menus li{
    padding: 0.055rem;
    display: flex;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center; */
    /* padding: 1rem; */
}

.menus li:hover{
    background-color: #d1d1d1;
    border-radius: 10px;
}

#logout{
    color: red;
}

.menu_wrapper{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}


.icon-logOut{
    color: red;
    margin-right: 0.5rem;
}

.icon-profile{
    margin-right: 0.5rem;
}