.link_blog{
    text-decoration: none;
}
.content{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.main_content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

/* rgba(178, 178, 178, 0.74) */
.singleDest{
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    margin: 1.2rem;
    cursor: pointer;
    
}

.singleDest:hover{
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.74);
    scale: 1.1;
    transition: .3s ease;
}

.dastImage{
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.dastImage img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.dastFooter{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 2rem; 
    padding-left: 2rem; 
    padding-top: 2rem;
    width: 100%;
    height: 100%;
}

.destText{
    color: black;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 5rem;
}

.destText a{
    color: black;
    font-size: 1rem;
    font-family:'Poppins';
    width: 100%;
}


.userwrite{
    display: flex;
    margin-left: 1rem;

}

.name{
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
    color: rgba(64, 102, 156, 1);
}

.Category{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-top: 2.5rem;
}


.Category_box{
    margin-top: 1rem;
    border-top: solid 3.5px rgba(202, 202, 202, 0.326);
    width: 100%; 
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: flex;
}

.Catagory_text{
    background-color: rgba(213, 213, 213, 1);
    font-size: smaller;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.5);
    width: fit-content;
}