.container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: calc(100vh - 80px);
}

.result-box {
    width: 350px;
    height: 100%;
    overflow: hidden;
}

.dorm-list {
    overflow-y: auto;
    height: 100%;
}

.divider {
    border: 1px solid #ccc;
    width: calc(100% - 2em);
    margin: 0 1em;
}

.search-box-container {
    margin: 1em;
    position: absolute;
    top: 0;
    border-radius: 1em;
    background-color: #fff;
}

.search-bar {
    width: 400px;
    height: 40px;
        display: flex;
    align-items: center;
}

.search-icon {
    margin: 0 0.7em;
    font-size: 1.2em;
}

.search-box {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1em;
}

.map {
    width: 100%;
    height: 100%;
    position: relative;
}
