.avatar-wrap{
    width: 50px;
    height: 50px;
    overflow: hidden;
    justify-content: center;
   
}

.img_User{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.avatar-wrap img{
    width: 50px;
    height: 50px;
}