*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

#logo{
    width: 80px;
    height: 70px;
}

#close-icon{
    display: none;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #3D39BD;
    display: flex;
    align-items: center;
    z-index: 99;
} 


.Navbar {
    position: sticky ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #3D39BD;
    box-shadow: 0 2px 4px rgba(76, 74, 74, 0.598);
    z-index: 99;
}

.menu_content{
    display: flex;
    list-style-type: none;
    align-items: center;
}

#menu-icon{
    display: none;
}


.navigation{
    justify-content: space-between;
    color: #f8f8f8;
    margin: 0 auto;
    padding: 1rem;
}


.navigation:hover{
    background-color: #332fab;
    border-radius: 1rem;
}

.search-box{
    display: flex;
    position: relative;
    width: 60%;
    background: #332fab;
    padding: 0.5rem;
    margin-right: 4rem;
    border-radius: 50px;
}


input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 1rem ;
    font-size: 15px;
    color: #fff;
    background: #332fab;
}


.search_blog{
    outline: none;
    position: relative;
    color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input::placeholder{
    color: #f2f2f2ca;
    font-size: 14px;
}

#closeicon{
    display: none;
}

.search-icon{
    cursor: pointer;
    padding-left: 0.1rem;
}

/* .search-icon:hover{
    background-color: #251f957c;
    border-radius: 9px;
} */

/* Dropdown */

.Dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #3D39BD;
    top: 70px;
    padding-top: 1rem;
    width: max-content;
    box-shadow: 0 2px 4px rgba(76, 74, 74, 0.598);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.drop{
    display: flex;
    justify-content: space-between;
    color: #f8f8f8;
    margin: 0 auto;
    padding: 1rem;
}

.drop:hover{
    background: #332fab;
    border-radius: 1rem;
}

.icon{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.navigation2{
    display: block;
    color: #f8f8f8;
    padding: 1rem;
}

.navigation2:hover{
    background: #332fab;
    border-radius: 1rem;
}

.Login_btn{
    width: 100%;
    margin: 1em;
    /* padding-left: 1em;
    padding-right: 1em; */
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    background-color: #D9C029;
    color: #000;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.Login_btn:hover{
    background-color: #cdaf07;
}

.btn_search{
    background-color: #332fab;
    color: #f8f8f8;
    border: none;
    box-shadow: none;
    border-left: #251f95 2px solid;
    padding: 1.5px;
}

.btn_search:hover{
    background-color: #1b18756d;
    color: #f8f8f8;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(41, 40, 40, 0.21) ;
}


/* Responsive */
@media screen and (max-width: 800px) {
    .Navbar {
        position: fixed;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        box-shadow: 0 2px 4px rgba(76, 74, 74, 0.598);
        transition: .5s ease;
        z-index: 1000;
        top: 0;
        left: 0;
    }

    .menu_content{
        position: fixed;
        padding-top: 4rem;
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        top: 0px; 
        left:-100%;
        background-color: #3D39BD;
        height: 100%;
        width: 100%;
        max-width: 200px;
        margin-left: 0;
    } 

    .navigation{
        line-height: 10px;
        display: block;
        text-align: start;
        padding-left: 25px;
    }

    .navigation:hover{
        background-color: #332fab;
    }

    .loginbtn{
        width: fit-content;
    }

    #menu-icon{
        display: block;
        position: fixed;
        float: left;
        color: #f8f8f8;
        size: 25;
        top: 0;
        left: 0;
        margin-top: 20px;
        margin-left: 25px;
    }

    .search_blog{
        display: none;
        position: absolute;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
        z-index: 99;
        background-color: #3D39BD;
    }

    #search_icon{
        display: block;
        position: absolute;
        float: left;
        color: #f8f8f8;
        border-radius: 5px;
        size: 25;
        top: 0;
        right:0;
        margin-top: 20px;
        margin-right: 25px;
    }

    .search-box{
        display: flex;
        position: relative;
        width: 100%;
        background: #332fab;
        padding: 0.5rem;
        border-radius: 50px;
        margin: 0;
    }

    .activeSearch{
        display: flex;
    }

    #close-icon{
        display:block;
    }

    #closeicon{
        display: block;
        position: absolute;
        float: left;
        color: #D9C029;
        size: 25;
        top: 0;
        left: 140px;
        margin-top: 20px;
        margin-left: 25px;
    }


    .activeMenu{
        left: 0;
    }
    

    /* #search-icon{
        position: absolute;
        right: 0;
        background-color: #D9C029;
        border:  #D9C029;
        border-radius: 5px;
    } */

    
    
}