@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.main {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    position: sticky;
    overflow-x: hidden;
}

.main a {
   text-decoration: none;
   color: #000;
}

.leftside {
    display: flex;
    margin-left: 8vw;
    margin-right: 2vw;
}

.middle {
    margin-left: 5vw;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}


.dropdown {
    color: #000;
    font-family: Poppins;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
}

.dropdown:hover{
    background-color:rgb(215, 215, 215);
    border-radius: 11px;
    transition: .5s ease;
}


.arrow {
    font-size: 9px;
    margin-left: 0.5rem;
    align-self: center;
    margin-top: 0.2rem;
}

.dropdownContent {
    display: flex;
    font-family: Poppins ;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    margin-top: 0.5rem;
    padding: 1rem;
    width: max-content;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    box-shadow:  0px 8px 2px rgba(178, 178, 178, 0.189)
}

.dropdownContent div {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.subdropdownContent div {
    padding: 0.5rem;
    padding-left: 1.2rem;
    cursor: pointer;
}

.dropdownContent span {
    width: 100%;
    margin-left: 8px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    cursor: pointer;
}


.dropdownContent div:hover{
    background-color:#D9D9D9;
    border-radius: 15px;
    transition: .3s ease;
}


.subdropdownContent div:hover{
    background-color:#bdbcbc;
    border-radius: 15px;
    transition: .5s ease;
}

.dropdownContent button {
    padding: 0;
    margin: 0;
}

.dropdownContent .arrow {
    font-size: 10px;
}

.subdropdown{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.arrow_2{
    font-size: 10px;
}

.rightside {
    margin-right: 8vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn_wrap{
    display: flex;
    height: auto;
    width: auto;
}

.rightside .btn{
    padding-right: 1rem;
    border-right: solid 3px #bab9b9;
    border-radius: 0;
}

.rightside .signup_btn{
    width: 100%;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    background-color: white;
    text-align: center;
    border-radius: 11px;
    border: 2px solid #000;
    margin-right: 0.5rem;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.rightside .signup_btn:hover{
    background-color:rgb(0, 0, 0);
    color: white;
    scale: 1.1;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    transition: .3s ease;
}

.rightside .login_btn{
    width: 100%;
    margin-left: 1rem;
    padding: 0.6rem 1rem ;
    position: relative;
    cursor: pointer;
    background-color: rgba(31, 32, 33, 1);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 8px;
}

.rightside .login_btn:hover{
    background-color:rgb(0, 0, 0);
    color: white;
    scale: 1.1;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    transition: .3s ease;
}


.rightside button{
    background: none;
    border: solid 3px white;
    border-radius: 35px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: auto;
    width: auto;
    cursor: pointer;
}

.ProfileImage{
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 3px;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    margin-top: auto;


}

.dropdownContentProfile{
    font-family: Poppins ;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 3vw;
    top: 70px;
    padding: 1rem;
    width: max-content;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    box-shadow:  0px 8px 2px rgba(178, 178, 178, 0.189)
}

.dropdownContentProfile div{
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdownContentProfile div:hover{
    background-color:#D9D9D9;
    border-radius: 15px;
    transition: .5s ease;
}

.dropdownContentProfile span{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-left: 1rem;
}

.logout{
    color: #C10206;
}

.logout_text{
    color: #C10206;
}

.dropdownContent_blog{
    display: flex;
    font-family: Poppins ;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    margin-top: 0.5rem;
    padding: 1rem;
    width: max-content;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    box-shadow:  0px 8px 2px rgba(178, 178, 178, 0.189)
}


.dropdownContent_blog {
    display: flex;
    font-family: Poppins ;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 1rem;
    width: max-content;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    box-shadow:  0px 8px 2px rgba(178, 178, 178, 0.189)
}

.dropdownContent_blog div {
    padding: 0.5rem;
    padding-right: 2rem;
    margin-bottom: 0.5rem;
}

.dropdownContent_blog span {
    width: 100%;
    margin-left: 8px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    cursor: pointer;
}


.dropdownContent_blog div:hover{
    background-color:#D9D9D9;
    border-radius: 15px;
    transition: .3s ease;
}