/* header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    min-width: max-content;
    background-color: #E2D8CA;
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.22);
}

.logo {
    height: 4rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-family:'Roboto', sans-serif;
}

.nav-item:hover {
    background-color: #e1d6a3;
    transition: 0.3s;
}

.nav-item.active {
    background-color: #e1d6a3;
    cursor: pointer;
}

.nav-icon {
    display: inline-block;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

.nav_copy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-family:'Roboto', sans-serif;
}
.nav_copy:hover {
    background-color: #e1d6a3;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    h1{
        width: 100%;
        text-align: center;
    }
    
    .nav-bar {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .nav-item {
        width: 100%;
        padding: 1rem 0;
    }

    .nav-icon {
        margin-left: 0.3rem;
    }
} */

header{
    position: sticky;
    display: flex;
    width: 100vw;
    height: 7.5vh;
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.main a {
   text-decoration: none;
   color: #000;
}

.leftside {
    display: flex;
    margin-left: 5vw;
}

.logo {
    width: 7.5vh;
    height: 7.5vh;
}

.middle {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}


.dropdown {
    color: #000;
    font-family: Poppins;
    font-size: 2vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}


.dropdown:hover {
    background-color:black;
    border-radius: 10px;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    /* scale: 1.2rem; */
    transition: .3s ease;
    
}


.arrow {
    font-size: 1.25vh;
    margin-left: 0.5rem;
    align-self: center;
    margin-top: 0.2rem;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 1.5rem;
    padding: 1rem;
    width: max-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(64, 64, 64, 0.25);
}

.dropdownContent div {
    padding: 0.5rem;
}

.subdropdownContent div {
    padding: 0.5rem;
    padding-left: 1.2rem;
    cursor: pointer;
}

.dropdownContent span {
    width: 100%;
    margin-left: 8px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    cursor: pointer;
}

.dropdownContent div:hover{
    background-color:#D9D9D9;
    border-radius: 15px;
    transition: .5s ease;
}

.subdropdownContent div:hover{
    background-color:#bdbcbc;
    border-radius: 15px;
    transition: .5s ease;
}

.dropdownContent button {
    padding: 0;
    margin: 0;
}

.dropdownContent .arrow {
    font-size: 10px;
}

.subdropdown{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.arrow_2{
    font-size: 10px;
}

.rightside {
    margin-right: 5vw;
    align-items: center;
    justify-content: center;
}


.rightside button{
    background: none;
    border: solid 3px white;
    box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.25);
    border-radius: 10vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

.ProfileImage{
    width: 100%;
    height: 100%;
}

.dropdownContentProfile{
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 1rem;
    padding: 1rem;
    width: max-content;
    border-radius: 10px;
    background-color:white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
    transform: translateX(calc(100% - 10rem));
    right: 2rem;
}

.dropdownContentProfile div{
    padding: 1rem;
    display: flex;
}

.dropdownContentProfile div:hover{
    background-color:#D9D9D9;
    border-radius: 15px;
    transition: .5s ease;
}

.dropdownContentProfile span{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-left: 1rem;
}

.logout{
    color: #C10206;
}

.logout a{
    color: #C10206;
}
