.Logincontainer { 
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: Poppins;
    margin-top: 2rem;
}

.Loginnavbar {
    padding: 0;
    background: #FFF;
    height: 9vh;
    box-shadow: 0px 0px 1.25vh 0px rgba(0, 0, 0, 0.25); 
    margin-bottom: 2rem;
}

.navimage {
    display: flex;
    position: absolute;
    width: 9vh;
    height: 9vh;
    left: 2.5%;
}

.Loginfont {
    color: #000;
    font-size: 3vh;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
}

.Loginframe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
    width: 57.5vh;
    height: 62.5vh;
    flex-shrink: 0;
    border-radius: 3vh;
    box-shadow: 0px 0px 1.75vh 0px rgba(0, 0, 0, 0.25); 
}

.Loginlogo {
    width: 17vh;
    height: 17vh;
}

.Loginform {
    display: flex;
    align-items: center;
    text-align: left;
    width: 43vh;
    height: 7.5%;
    flex-shrink: 0;
    border-radius: 1.25vh;
    padding-left: 2.5%;
    margin: 2%;
    margin-bottom: 5%;
    background: #D9D9D9;
    color: rgba(0, 0, 0, 0.32);
    font-size: 2vh;
    font-weight: 500;
}

.Loginblock {
    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    width: 75%;
    flex-shrink: 0;
    padding-left: 2.5%;
    background: #d9d9d900;
    color: rgba(0, 0, 0, 0.7);
    font-family: Poppins;
    font-size: 2vh;
    font-weight: 500;
}

.Loginblock:focus {
    outline: none; /* ลบเส้นกรอบ */
    box-shadow: none; /* ลบเงา */
}

.navimage {
    display: flex;
    position: absolute;
    left: 2.5%;
}

.inputicon {
    width: 2vh;
    height: 2vh;
    display: flex;
    align-items: center;
    margin: 2.5%;
}

.Logininput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 448px;
    height: 41px;
    flex-shrink: 0;
}

.Loginbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.2vh;
    border-style: none;
    background: #1F2021;
    width: 13vh;
    height: 5vh;
    flex-shrink: 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 2.35vh;
    cursor: pointer;
}

.Loginbutton:hover {
    background-color: #393a3a;
    transition: 0.5s;
    transform: scale(1.1); 
}

.signuplabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2vh;
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5vh;
    font-weight: 400;
}

.signuplink {
    color: #0057ff;
    text-decoration: none;
}

.error-text {
    margin: 1em;
    color: red;
    text-align: center;
    font-size: 1em;
    position: absolute;
    left: 1em;
    right: 1em;
}

.Loginbutton.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #d9d9d9;
    color: #000000;
}