.Logincontainer { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: Poppins;
    margin-top: 1.5rem;
}

.navimage {
    display: flex;
    position: absolute;
    left: 2.5%;
}

.Loginfont {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
    letter-spacing: 0.32px;
}

.Loginframe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
    width: 550px;
    height: 558px;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25); 
}

.Loginform {
    display: flex;
    align-items: center;
    text-align: left;
    width: 75%;
    height: 7.5%;
    flex-shrink: 0;
    border-radius: 15px;
    padding-left: 2.5%;
    margin: 2%;
    margin-bottom: 5%;
    background: #D9D9D9;
    color: rgba(0, 0, 0, 0.32);
    font-size: 18px;
    font-weight: 500;
}

.Loginblock {
    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    width: 75%;
    flex-shrink: 0;
    padding-left: 2.5%;
    background: #d9d9d900;
    color: rgba(0, 0, 0, 0.7);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
}

.Loginblock:focus {
    outline: none; /* ลบเส้นกรอบ */
    box-shadow: none; /* ลบเงา */
}

.navimage {
    display: flex;
    position: absolute;
    left: 2.5%;
}

.inputicon {
    display: flex;
    align-items: center;
    margin: 2.5%;
}

.Logininput {
    border-radius: 15px;
    background: #D9D9D9;
    width: 448px;
    height: 41px;
    flex-shrink: 0;
}

.Loginbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 11px;
    background: #1F2021;
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.signuplabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2.5%;
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; 
    letter-spacing: 0.12px;
}

.signuplink {
    color: #0057ff;
    text-decoration: none;
}