.dorm_card{
    width: 520px;
    height: 270px;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 13.3px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 25px;
    margin: auto;
}

.dorm_card:hover {
    scale: 1.01;
    transition: ease-in-out 0.3s;
    box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.25);
}

.image{
    width: 220px;
    height: 220px;
    border-radius: 15px;
    object-fit:cover;
    margin-top: auto;
    margin-bottom: auto;

}

.card_info{
    margin: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dorm_name{
    color: #092F88;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 36px;
}

.facilities{
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price{
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.see_info_button{
    display: flex;
    width: 157px;
    height: 48px;
    border-radius: 13px;
    background: #092F88;
    align-items: center;
    justify-content: center;
}

.see_info{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
}