@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
