@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .imageContainer {
    animation: fadeIn 0.5s forwards;
  }
  
  .imageContainer.fadeOut {
    animation: fadeOut 0.5s forwards;
  }
  